#statusact .status-button {
    border: none;
    padding: 0 5px;
    border-radius: 20px;
    color: white;
    width: 120px;
    height: 30px;
    text-align: center;
    margin: 10px 0;
}

#statuskemajuanact .status-button {
    border: none;
    padding: 0 5px;
    border-radius: 20px;
    color: white;
    width: 150px;
    height: 30px;
    text-align: center;
    margin: 10px 0;
}

#collapseTwo .collapse-item.active {
    color: #e74a3b;
}

#myTabjustified .nav-link {
    color: black;
}

#myTabjustified .nav-link.active {
    color: #e74a3b;
}

#myTabjustified.flex-fill {
    color: #e74a3b;
}

.table th, .table td input {
    width: auto;
}

.table th, .table td select {
    width: auto;
}

.table th, .table td textarea {
    width: auto;
}

#container-login .card-body {
    background-color: #EEEBDD;
}

#container-login .card {
    border-radius: 32px;
}
/* #bgLogin {
    background-color: #f1faee;
} */
